ul.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
li.page-item {
    display: inline-block;
    padding: 6px 12px;
    margin-right: 5px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

li.page-item:hover {
    text-decoration: none;
    background-color: #eee;
}

li.page-item.active {
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}