{% extends 'include/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block page_title %}Login{% endblock page_title %}
{% block css %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}
    <h1 class="">Log In</h1>
    <p id="result_text" class="hide">Result Text</p>
    <form class="login-form" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Log in!</button>
        {% endbuttons %}
    </form>
    <a href="{% url 'signup' %}">Create new account</a>
{% endblock content %}