{% extends 'include/base.html' %}
{% load static %}

{% block page_title %} AskKondakova {% endblock page_title %}
{% block css %}
    <link href="{% static 'css/pagination.css' %}" rel="stylesheet">
    <link href="{% static 'css/question.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
    <h1 class="my-4">New questions
        <small><a href="{% url 'hot' %}">Hot questions</a></small>
    </h1>
    <div>
        {% for question in questions %}
            {% include 'include/question.html' with question=question %}
        {% empty %}
            <h2>There no questions here. <a href="{% url 'ask' %}">Ask</a> one!</h2>
        {% endfor %}
    </div>
    {% include 'include/pagination.html' with page=page %}
{% endblock content %}
{% block js %}
    <script src="{% static 'js/vote.js' %}"></script>
{% endblock js %}