{% extends 'include/base.html' %}
{% load static %}

{% block page_title %}Sign up{% endblock page_title %}
{% block css %}
    <link href="{% static 'css/sign_up.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}
    <h1 class="">Registration</h1>
    <p id="result_text" class="hide">Result Text</p>
    <form class="sign-up-form" action="{% url 'new_questions' %}">
        <div class="form-group row">
            <label for="user_login" class="col-sm-2 col-form-label">Login</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"
                       placeholder="Use uppercase and lowercase letters, numbers, underscore and dash" id="user_login"
                       required minlength="4"
                       maxlength="25" pattern="^(?=.*[A-Za-z0-9]$)[A-Za-z][A-Za-z\d_-]{3,24}$">
            </div>
        </div>
        <div class="form-group row">
            <label for="user_email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="user_email" required maxlength="30">
            </div>
        </div>
        <div class="form-group row">
            <label for="user_name" class="col-sm-2 col-form-label">NickName</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="user_name" required minlength="4" maxlength="30"
                       placeholder="Use uppercase and lowercase letters, numbers, underscore and dash, spaces"
                       id="user_login"
                       pattern="[A-Za-z][A-Za-z\d_- ]{3,29}$">
            </div>
        </div>
        <div class="form-group row">
            <label for="user_password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="user_password" required minlength="6" maxlength="20">
            </div>
        </div>
        <div class="form-group row">
            <label for="repeat_password" class="col-sm-2 col-form-label">Repeat password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="repeat_password" required minlength="6" maxlength="20">
            </div>

        </div>
        <div class="form-group row">
            <label for="user_avatar" class="col-sm-2 col-form-label">Upload avatar</label>
            <input type="file" class="form-control-file" id="user_avatar">
        </div>
        <button type="submit" class="btn btn-primary">Register!</button>
    </form>
{% endblock content %}